<!DOCTYPE html>
<html>
  <head>
    <title>gram2gif - Instagram videos to animated gifs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/main.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="/assets/js/lib/html5shiv.js"></script>
      <script src="/assets/js/lib/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Hello, world!</h1>

    <script src="/assets/js/lib/jquery.js"></script>
    <script src="/assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>
