<!DOCTYPE html>
<html>
  <head>
    <title>gram2gif - Instagram videos to animated gifs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/main.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="/assets/js/lib/html5shiv.js"></script>
      <script src="/assets/js/lib/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Hello, world!</h1>
    <a href="https://api.instagram.com/oauth/authorize/?client_id=3310ff91e56e44beb1ccc81ac738b30f&redirect_uri=http://gram2gif.com:8080/auth&response_type=code"><img src="/assets/img/instagram_button.png"/></a>
    <script src="/assets/js/lib/jquery.js"></script>
    <script src="/assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>
